[Unit]
Description={{ java_service_description }}
After=network.target
StartLimitIntervalSec=0

[Service]
ExecStart=/usr/bin/java {{ java_service_exec_args }}
Type=simple
Restart=always
RestartSec=1

StandardOutput=append:{{ java_service_log_file }}
StandardError=append:{{ java_service_log_file }}

[Install]
WantedBy=multi-user.target
